@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Violet Sans';
  src: url('fonts/VioletSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heming';
  src: url('fonts/heming-variable.ttf') format('truetype');
}

body {
  @apply font-body m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
